In [1]:
docs = ['the cat in the hat', 
        'the cow jumped over the moon', 
        'the cat mooed and the cow meowed', 
        'the cat said to the cow cow you are not a cat']

In [7]:
docs

['the cat in the hat',
 'the cow jumped over the moon',
 'the cat mooed and the cow meowed',
 'the cat said to the cow cow you are not a cat']

In [9]:
split = []
for i in docs:
    for j in i.split(' '):
        split.append(j)

In [12]:
split

['the',
 'cat',
 'in',
 'the',
 'hat',
 'the',
 'cow',
 'jumped',
 'over',
 'the',
 'moon',
 'the',
 'cat',
 'mooed',
 'and',
 'the',
 'cow',
 'meowed',
 'the',
 'cat',
 'said',
 'to',
 'the',
 'cow',
 'cow',
 'you',
 'are',
 'not',
 'a',
 'cat']

In [13]:
split_set = {i for i in split}

In [16]:
split_set

{'a',
 'and',
 'are',
 'cat',
 'cow',
 'hat',
 'in',
 'jumped',
 'meowed',
 'mooed',
 'moon',
 'not',
 'over',
 'said',
 'the',
 'to',
 'you'}

In [20]:
voca = set(' '.join(docs).split(' '))

In [21]:
voca

{'a',
 'and',
 'are',
 'cat',
 'cow',
 'hat',
 'in',
 'jumped',
 'meowed',
 'mooed',
 'moon',
 'not',
 'over',
 'said',
 'the',
 'to',
 'you'}

In [23]:
common_words = set(['a', 'to', 'the', 'in', 'and', 'are'])

In [25]:
voca_1 = voca - common_words

In [27]:
voca_1

{'cat',
 'cow',
 'hat',
 'jumped',
 'meowed',
 'mooed',
 'moon',
 'not',
 'over',
 'said',
 'you'}

In [26]:
docs[0]

'the cat in the hat'

docs 의 문장의 단어마다 
voca_1의 단어가 있는지 없는지

In [40]:
docs_dict = {}

for i in range(len(docs)):
    sentence_dict = {} 
    for j in voca_1:
        if j in docs[i]:
            sentence_dict[j] = True
        else:
            sentence_dict[j] = False
    docs_dict[i] = sentence_dict

In [44]:
docs_list = []

for i in range(len(docs)):
    sentence_dict = {} 
    for j in voca_1:
        if j in docs[i]:
            sentence_dict[j] = True
        else:
            sentence_dict[j] = False
    docs_list.append(sentence_dict)

In [45]:
docs_list

[{'over': False,
  'said': False,
  'meowed': False,
  'you': False,
  'cow': False,
  'not': False,
  'cat': True,
  'moon': False,
  'mooed': False,
  'hat': True,
  'jumped': False},
 {'over': True,
  'said': False,
  'meowed': False,
  'you': False,
  'cow': True,
  'not': False,
  'cat': False,
  'moon': True,
  'mooed': False,
  'hat': False,
  'jumped': True},
 {'over': False,
  'said': False,
  'meowed': True,
  'you': False,
  'cow': True,
  'not': False,
  'cat': True,
  'moon': False,
  'mooed': True,
  'hat': False,
  'jumped': False},
 {'over': False,
  'said': True,
  'meowed': False,
  'you': True,
  'cow': True,
  'not': True,
  'cat': True,
  'moon': False,
  'mooed': False,
  'hat': False,
  'jumped': False}]

In [42]:
docs_dict[0]

{'over': False,
 'said': False,
 'meowed': False,
 'you': False,
 'cow': False,
 'not': False,
 'cat': True,
 'moon': False,
 'mooed': False,
 'hat': True,
 'jumped': False}

In [86]:
doc_contains = [{v : (v in d) for v in voca_1} for d in docs]

In [71]:
import pandas as pd

In [72]:
dcs = pd.DataFrame(doc_contains)

In [73]:
dcs.sort_index(axis=1)

,cat,cow,hat,jumped,meowed,mooed,moon,not,over,said,you
0,True,False,True,False,False,False,False,False,False,False,False
1,False,True,False,True,False,False,True,False,True,False,False
2,True,True,False,False,True,True,False,False,False,False,False
3,True,True,False,False,False,False,False,True,False,True,True

In [79]:
dict_list = []
for i in docs:
    dic = {}
    for v in voca_1:
        dic[v] = v in i
    dict_list.append(dic)

In [80]:
dict_list

[{'over': False,
  'said': False,
  'meowed': False,
  'you': False,
  'cow': False,
  'not': False,
  'cat': True,
  'moon': False,
  'mooed': False,
  'hat': True,
  'jumped': False},
 {'over': True,
  'said': False,
  'meowed': False,
  'you': False,
  'cow': True,
  'not': False,
  'cat': False,
  'moon': True,
  'mooed': False,
  'hat': False,
  'jumped': True},
 {'over': False,
  'said': False,
  'meowed': True,
  'you': False,
  'cow': True,
  'not': False,
  'cat': True,
  'moon': False,
  'mooed': True,
  'hat': False,
  'jumped': False},
 {'over': False,
  'said': True,
  'meowed': False,
  'you': True,
  'cow': True,
  'not': True,
  'cat': True,
  'moon': False,
  'mooed': False,
  'hat': False,
  'jumped': False}]

In [82]:
dict_list = []
for i in docs:
    dic = {}
    for v in voca_1:
        dic[v] = i.count(v)
    dict_list.append(dic)

In [83]:
dict_list

[{'over': 0,
  'said': 0,
  'meowed': 0,
  'you': 0,
  'cow': 0,
  'not': 0,
  'cat': 1,
  'moon': 0,
  'mooed': 0,
  'hat': 1,
  'jumped': 0},
 {'over': 1,
  'said': 0,
  'meowed': 0,
  'you': 0,
  'cow': 1,
  'not': 0,
  'cat': 0,
  'moon': 1,
  'mooed': 0,
  'hat': 0,
  'jumped': 1},
 {'over': 0,
  'said': 0,
  'meowed': 1,
  'you': 0,
  'cow': 1,
  'not': 0,
  'cat': 1,
  'moon': 0,
  'mooed': 1,
  'hat': 0,
  'jumped': 0},
 {'over': 0,
  'said': 1,
  'meowed': 0,
  'you': 1,
  'cow': 2,
  'not': 1,
  'cat': 2,
  'moon': 0,
  'mooed': 0,
  'hat': 0,
  'jumped': 0}]

In [87]:
word_contains = [{v : (d.count(v)) for v in voca_1} for d in docs]

In [88]:
word_contains

[{'over': 0,
  'said': 0,
  'meowed': 0,
  'you': 0,
  'cow': 0,
  'not': 0,
  'cat': 1,
  'moon': 0,
  'mooed': 0,
  'hat': 1,
  'jumped': 0},
 {'over': 1,
  'said': 0,
  'meowed': 0,
  'you': 0,
  'cow': 1,
  'not': 0,
  'cat': 0,
  'moon': 1,
  'mooed': 0,
  'hat': 0,
  'jumped': 1},
 {'over': 0,
  'said': 0,
  'meowed': 1,
  'you': 0,
  'cow': 1,
  'not': 0,
  'cat': 1,
  'moon': 0,
  'mooed': 1,
  'hat': 0,
  'jumped': 0},
 {'over': 0,
  'said': 1,
  'meowed': 0,
  'you': 1,
  'cow': 2,
  'not': 1,
  'cat': 2,
  'moon': 0,
  'mooed': 0,
  'hat': 0,
  'jumped': 0}]

In [89]:
wcs = pd.DataFrame(word_contains)

In [90]:
wcs.sort_index(axis = 1)

   cat  cow  hat  jumped  meowed  mooed  moon  not  over  said  you
0    1    0    1       0       0      0     0    0     0     0    0
1    0    1    0       1       0      0     1    0     1     0    0
2    1    1    0       0       1      1     0    0     0     0    0
3    2    2    0       0       0      0     0    1     0     1    1

In [55]:
from sklearn.feature_extraction.text import CountVectorizer

In [56]:
sparse = CountVectorizer(stop_words = 'english').fit_transform(docs)

In [58]:
sparse.todense()

matrix([[1, 0, 1, 0, 0, 0, 0, 0],
        [0, 1, 0, 1, 0, 0, 1, 0],
        [1, 1, 0, 0, 1, 1, 0, 0],
        [2, 2, 0, 0, 0, 0, 0, 1]], dtype=int64)

In [59]:
sparse.get_shape()

(4, 8)

In [94]:
doc_freq = pd.DataFrame(dcs.sum(axis=0)).T

In [100]:
doc_freq

   over  said  meowed  you  cow  not  cat  moon  mooed  hat  jumped
0     1     1       1    1    3    1    3     1      1    1       1

In [ ]:
DF(Document Frequency) -> 특정 단어가 등장한 문서의 수

In [96]:
import numpy as np

In [97]:
pd.options.display.float_format = '{:.2f}'.format

In [98]:
idf = np.log(len(docs)/doc_freq)

In [99]:
idf

   over  said  meowed  you  cow  not  cat  moon  mooed  hat  jumped
0  1.39  1.39    1.39 1.39 0.29 1.39 0.29  1.39   1.39 1.39    1.39

In [ ]:
TF(Term Frequency) -> 특정 문서에서 특정 단어의 등장수

In [101]:
wcs

   over  said  meowed  you  cow  not  cat  moon  mooed  hat  jumped
0     0     0       0    0    0    0    1     0      0    1       0
1     1     0       0    0    1    0    0     1      0    0       1
2     0     0       1    0    1    0    1     0      1    0       0
3     0     1       0    1    2    1    2     0      0    0       0

In [103]:
tf_idf = wcs * idf.iloc[0]

In [104]:
tf_idf

   over  said  meowed  you  cow  not  cat  moon  mooed  hat  jumped
0  0.00  0.00    0.00 0.00 0.00 0.00 0.29  0.00   0.00 1.39    0.00
1  1.39  0.00    0.00 0.00 0.29 0.00 0.00  1.39   0.00 0.00    1.39
2  0.00  0.00    1.39 0.00 0.29 0.00 0.29  0.00   1.39 0.00    0.00
3  0.00  1.39    0.00 1.39 0.58 1.39 0.58  0.00   0.00 0.00    0.00

In [105]:
from sklearn.preprocessing import Normalizer

In [ ]:
Normalizer(norm='l1').fit_transform(tf_idf)

array([[0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.17185551, 0.        , 0.        , 0.82814449,
        0.        ],
       [0.31176747, 0.        , 0.        , 0.        , 0.0646976 ,
        0.        , 0.        , 0.31176747, 0.        , 0.        ,
        0.31176747],
       [0.        , 0.        , 0.41407225, 0.        , 0.08592775,
        0.        , 0.08592775, 0.        , 0.41407225, 0.        ,
        0.        ],
       [0.        , 0.26109149, 0.        , 0.26109149, 0.10836276,
        0.26109149, 0.10836276, 0.        , 0.        , 0.        ,
        0.        ]])

In [108]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [109]:
sparse = TfidfVectorizer(norm ='l1', stop_words='english').fit_transform(docs)

In [110]:
sparse.todense()

matrix([[0.38960636, 0.        , 0.61039364, 0.        , 0.        ,
         0.        , 0.        , 0.        ],
        [0.        , 0.24193237, 0.        , 0.37903381, 0.        ,
         0.        , 0.37903381, 0.        ],
        [0.19480318, 0.19480318, 0.        , 0.        , 0.30519682,
         0.30519682, 0.        , 0.        ],
        [0.35927972, 0.35927972, 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.28144056]])

---

In [112]:
from sklearn.datasets import fetch_20newsgroups

In [114]:
twenty_train = fetch_20newsgroups(subset='train',
                                 shuffle=True,
                                 random_state=0)

In [116]:
len(twenty_train.target_names)

20

In [118]:
from collections import Counter

In [119]:
Counter(twenty_train.target)

Counter({15: 599,
         13: 594,
         10: 600,
         12: 591,
         7: 594,
         1: 584,
         5: 593,
         4: 578,
         3: 590,
         17: 564,
         2: 591,
         8: 598,
         16: 546,
         9: 597,
         6: 585,
         11: 595,
         18: 465,
         14: 593,
         0: 480,
         19: 377})

In [121]:
twenty_train.data[0]

'From: kbanner@philae.sas.upenn.edu (Ken Banner)\nSubject: Re: SATANIC TOUNGES\nOrganization: University of Pennsylvania\nLines: 51\n\nIn article <May.5.02.53.10.1993.28880@athos.rutgers.edu> koberg@spot.Colorado.EDU (Allen Koberg) writes:\n\n>.....................................................There is dis-\n>crepancy even among charismatic organizations as to the proper use\n>of tongues.  Be it revelatory with interpretation, for prayer use,\n>or for signifying believers (which I doubt since any one can do it).\n>Pentecostals (Assembly of God, Church of Christ), seem to espouse all\n>three.  Neo-pentecostals tend to view prayer use and as a sign as the\n>uses.  Speaking in tongues during a service is not usually done by\n>neo-pentecostals because for the most part, they still attend Protestant\n>churches.  Non-denominational churches seem to view the use as a sign\n>as merely optional, but recommended.\n\nKoberg,\n\n\tJust a couple of minor corrections here...\n\n\t1)  The Churches of Christ do not usually believe in speaking in\ntongues, in fact many of them are known for being strongly opposed to\nPentecostal teaching.  You are probably thinking of Church of God in\nChrist, the largest African-American Pentecostal denomination.\n\n\t2)  I\'m not sure what you mean by "signifying believers"  but it\nshould be pointed out that the Assemblies of God does not now, nor has it\never, held that speaking in tongues is the sign that one is a Christian. \nThe doctrine that traditional Pentecostals (including the A/G) maintain is\nthat speaking in tongues is the sign of a second experience after becoming\na Christian in which one is "Baptized in the Holy Spirit"  That may be\nwhat you were referring to, but I point this out because Pentecostals are\nfrequently labeled as believing that you have to speak in tongues in order\nto be a Christian.  Such a position is only held by some groups and not the\nmajority of Pentecostals.   Many Pentecostals will quote the passage in\nMark 16 about "these signs following them that believe" but they generally\ndo not interpret this as meaning if you don\'t pactice the signs you aren\'t\n"saved".\n\n\t3)  I know it\'s hard to summarize the beliefs of a movement that\nhas such diversity, but I think you\'ve made some pretty big\ngeneralizations here.  Do "Neo-Pentecostals" only believe in tongues as a\nsign and tongues as prayer but NOT tongues as revelatory with a message? \nI\'ve never heard of that before.  In fact I would have characterized them\nas believing the same as Pentecostals except less likely to see tongues as\na sign of Spirit Baptism.  Also, while neo-Pentecostals may not be\ninclined to speak in tongues in the non-Pentecostal churches they attend,\nthey do have their own meetings and, in many cases, a whole church will be\ncharismatic.\n\nKen Banner\nDept. of Religious Studies\nUniversity of Pennsylvania\nkbanner@philae.sas.upenn.edu \n'

In [123]:
print('\n'.join(twenty_train.data[0].split('\n')))

From: kbanner@philae.sas.upenn.edu (Ken Banner)
Subject: Re: SATANIC TOUNGES
Organization: University of Pennsylvania
Lines: 51

In article <May.5.02.53.10.1993.28880@athos.rutgers.edu> koberg@spot.Colorado.EDU (Allen Koberg) writes:

>.....................................................There is dis-
>crepancy even among charismatic organizations as to the proper use
>of tongues.  Be it revelatory with interpretation, for prayer use,
>or for signifying believers (which I doubt since any one can do it).
>Pentecostals (Assembly of God, Church of Christ), seem to espouse all
>three.  Neo-pentecostals tend to view prayer use and as a sign as the
>uses.  Speaking in tongues during a service is not usually done by
>neo-pentecostals because for the most part, they still attend Protestant
>churches.  Non-denominational churches seem to view the use as a sign
>as merely optional, but recommended.

Koberg,

	Just a couple of minor corrections here...

	1)  The Churches of Christ do not usually believe in speaking in
tongues, in fact many of them are known for being strongly opposed to
Pentecostal teaching.  You are probably thinking of Church of God in
Christ, the largest African-American Pentecostal denomination.

	2)  I'm not sure what you mean by "signifying believers"  but it
should be pointed out that the Assemblies of God does not now, nor has it
ever, held that speaking in tongues is the sign that one is a Christian.
The doctrine that traditional Pentecostals (including the A/G) maintain is
that speaking in tongues is the sign of a second experience after becoming
a Christian in which one is "Baptized in the Holy Spirit"  That may be
what you were referring to, but I point this out because Pentecostals are
frequently labeled as believing that you have to speak in tongues in order
to be a Christian.  Such a position is only held by some groups and not the
majority of Pentecostals.   Many Pentecostals will quote the passage in
Mark 16 about "these signs following them that believe" but they generally
do not interpret this as meaning if you don't pactice the signs you aren't
"saved".

	3)  I know it's hard to summarize the beliefs of a movement that
has such diversity, but I think you've made some pretty big
generalizations here.  Do "Neo-Pentecostals" only believe in tongues as a
sign and tongues as prayer but NOT tongues as revelatory with a message?
I've never heard of that before.  In fact I would have characterized them
as believing the same as Pentecostals except less likely to see tongues as
a sign of Spirit Baptism.  Also, while neo-Pentecostals may not be
inclined to speak in tongues in the non-Pentecostal churches they attend,
they do have their own meetings and, in many cases, a whole church will be
charismatic.

Ken Banner
Dept. of Religious Studies
University of Pennsylvania
kbanner@philae.sas.upenn.edu

In [127]:
twenty_train.target_names[15]

'soc.religion.christian'

### pipeline - tf/idf -> randomforest

In [131]:
from sklearn.pipeline import make_pipeline

In [134]:
from sklearn.ensemble import RandomForestClassifier

In [128]:
# tf_data = TfidfVectorizer(norm ='l1', stop_words='english').fit_transform(twenty_train)

In [135]:
pipe = make_pipeline(TfidfVectorizer(norm ='l1', stop_words='english'), RandomForestClassifier())

In [136]:
twenty_test = fetch_20newsgroups(subset='test',
                                 shuffle=True,
                                 random_state=0)

In [137]:
pipe.fit(twenty_train.data, twenty_train.target)

Pipeline(steps=[('tfidfvectorizer',
                 TfidfVectorizer(norm='l1', stop_words='english')),
                ('randomforestclassifier', RandomForestClassifier())])

In [138]:
pipe.score(twenty_train.data, twenty_train.target)

0.9999116139296447

In [139]:
pipe.score(twenty_test.data, twenty_test.target)

0.7833244822092406

In [142]:
pred = pipe.predict(twenty_test.data)

In [140]:
from sklearn.metrics import f1_score

In [143]:
f1_score(twenty_test.target, pred, average = 'macro')

0.770051783650864

In [ ]:
pipe2 = make_pipeline(TfidfVectorizer(norm

In [144]:
from sklearn.model_selection import GridSearchCV

In [ ]:
param_grid = {'tfidfvectorizer__norm': ['l1', 'l2']}

In [146]:
pipe1 = make_pipeline(TfidfVectorizer(), RandomForestClassifier())

In [147]:
pipe1.fit(twenty_train.data, twenty_train.target)

Pipeline(steps=[('tfidfvectorizer', TfidfVectorizer()),
                ('randomforestclassifier', RandomForestClassifier())])

In [148]:
pipe1.score(twenty_test.data, twenty_test.target)

0.7578332448220924

In [149]:
pred1 = pipe1.predict(twenty_test.data)

In [150]:
f1_score(twenty_test.target, pred1, average = 'macro')

0.7429433272057127

In [152]:
param_grid = {'randomforestclassifier__criterion': ['gini', 'entropy', 'log_loss'],
              'randomforestclassifier__max_features': ['sqrt', 'log2'],
              'randomforestclassifier__class_weight': ['balanced', 'balanced_subsample'],
              'tfidfvectorizer__norm' : ['l1', 'l2']}

In [155]:
grid_model = GridSearchCV(pipe1, param_grid, verbose = 1, n_jobs=-1)

In [156]:
grid_model.fit(twenty_train.data, twenty_train.target)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\user\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
40 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
40 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\user\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\user\anaconda3\lib\site-packages\sklearn\pipeline.py", line 394, in fit
    self._final_estimator.fit(Xt, y, **fit_params_last_step)
  File "C:\Users\user\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 450, in fit
    trees = Parallel(
  File "C:\Users\user\anaconda3\lib\site-packages\joblib\parallel.py", line 1043, in __call__
    if self.dispatch_one_batch(iterator):
  File "C:\Users\user\anaconda3\lib\site-packages\joblib\parallel.py", line 861, in dispatch_one_batch
    self._dispatch(tasks)
  File "C:\Users\user\anaconda3\lib\site-packages\joblib\parallel.py", line 779, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "C:\Users\user\anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "C:\Users\user\anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "C:\Users\user\anaconda3\lib\site-packages\joblib\parallel.py", line 262, in __call__
    return [func(*args, **kwargs)
  File "C:\Users\user\anaconda3\lib\site-packages\joblib\parallel.py", line 262, in <listcomp>
    return [func(*args, **kwargs)
  File "C:\Users\user\anaconda3\lib\site-packages\sklearn\utils\fixes.py", line 216, in __call__
    return self.function(*args, **kwargs)
  File "C:\Users\user\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 185, in _parallel_build_trees
    tree.fit(X, y, sample_weight=curr_sample_weight, check_input=False)
  File "C:\Users\user\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 937, in fit
    super().fit(
  File "C:\Users\user\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 352, in fit
    criterion = CRITERIA_CLF[self.criterion](
KeyError: 'log_loss'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\user\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.8350714  0.83904905 0.83233089 0.83683932 0.74032178 0.73970305
 0.79945223 0.80510887        nan        nan        nan        nan
 0.8348063  0.83542476 0.83082889 0.83789958 0.73837765 0.73501877
 0.80236887 0.80342952        nan        nan        nan        nan]
  warnings.warn(

GridSearchCV(estimator=Pipeline(steps=[('tfidfvectorizer', TfidfVectorizer()),
                                       ('randomforestclassifier',
                                        RandomForestClassifier())]),
             n_jobs=-1,
             param_grid={'randomforestclassifier__class_weight': ['balanced',
                                                                  'balanced_subsample'],
                         'randomforestclassifier__criterion': ['gini',
                                                               'entropy',
                                                               'log_loss'],
                         'randomforestclassifier__max_features': ['sqrt',
                                                                  'log2'],
                         'tfidfvectorizer__norm': ['l1', 'l2']},
             verbose=1)

In [157]:
grid_model.best_estimator_

Pipeline(steps=[('tfidfvectorizer', TfidfVectorizer()),
                ('randomforestclassifier',
                 RandomForestClassifier(class_weight='balanced',
                                        max_features='sqrt'))])

In [158]:
grid_model.best_score_

0.8390490468080485