Q1. 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

In [4]:
score = [80, 75, 55]

In [6]:
sum(score) / len(score)

70.0

Q2. 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

In [8]:
13%2

1

In [9]:
# 2로 나눈 수의 나머지가 1이면 홀수

Q3. 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [21]:
pin[:6]

'881120'

In [22]:
pin[7:]

'1068234'

Q4. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [10]:
pin = '881120-1068234'

In [15]:
pin.find('-')

6

In [16]:
pin[pin.find('-')+1]

'1'

Q5. 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

In [28]:
a = 'a:b:c:d'

In [30]:
a.replace(':', '#')

'a#b#c#d'

Q6. [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

In [42]:
l1 = [1, 3, 5, 4, 2]

In [45]:
l1.sort()

In [46]:
l1

[1, 2, 3, 4, 5]

In [47]:
l1.sort(reverse=True)

In [48]:
l1

[5, 4, 3, 2, 1]

Q7. ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

In [2]:
l2 = ['Life', 'is', 'too', 'short']
' '.join(l2)

'Life is too short'

Q8. (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

In [11]:
tuple1 = (1, 2, 3)
tuple2 = (4, ) # 뒤에 콤마를 붙이지 않으면 상수로 취급한다?

In [12]:
tuple1 + tuple2

(1, 2, 3, 4)

Q10 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

In [13]:
a = {'A':90, 'B':80, 'C':70}

In [14]:
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

Q11. a 리스트에서 중복 숫자를 제거해 보자.

In [15]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [16]:
set(a)

{1, 2, 3, 4, 5}

Q12. 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

In [31]:
a = b = [1, 2, 3]

In [32]:
a

[1, 2, 3]

In [33]:
b

[1, 2, 3]

In [34]:
a[1] = 4

In [35]:
a

[1, 4, 3]

In [36]:
b

[1, 4, 3]

In [37]:
# copy를 써서 값만 복사할 수 있음.

In [38]:
c = a.copy()

In [39]:
a[1] = 8

In [40]:
a

[1, 8, 3]

In [41]:
c

[1, 4, 3]