In [198]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [160]:
loan = pd.read_csv('loan.csv')

In [170]:
loan.isnull().sum()

Loan_ID               0
Gender                0
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [162]:
loan['Loan_Status'].value_counts()

Y    422
N    192
Name: Loan_Status, dtype: int64

In [163]:
loan.shape

(614, 13)

In [164]:
loan.dtypes.index

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [165]:
loan.dtypes.values

array([dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('int64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('O'), dtype('O')],
      dtype=object)

In [166]:
loan

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [51]:
obj_col = []

for i, j in zip(loan.dtypes.index, loan.dtypes.values):
    if j == 'object':
        obj_col.append(i)

In [52]:
obj_col

['Loan_ID',
 'Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area',
 'Loan_Status']

In [53]:
for col in obj_col[1:]:
    print(loan[col].unique())

['Male' 'Female' nan]
['No' 'Yes' nan]
['0' '1' '2' '3+' nan]
['Graduate' 'Not Graduate']
['No' 'Yes' nan]
['Urban' 'Rural' 'Semiurban']
['Y' 'N']

In [ ]:
label

In [169]:
with open('encoder.pkl','wb') as f:
    pickle.dump(label_encode, f)

In [6]:
# dropna로 다 날려버린다...

In [54]:
loan1 = loan.dropna()

In [55]:
loan1.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [56]:
loan1.shape

(480, 13)

In [57]:
for col in obj_col[1:]:
    label = LabelEncoder()
    loan1[col] = label.fit_transform(loan1[col])

C:\Users\user\AppData\Local\Temp\ipykernel_6408\3268747975.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan1[col] = label.fit_transform(loan1[col])

In [58]:
loan1

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
5,LP001011,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,1
610,LP002979,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0,1
611,LP002983,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,1
612,LP002984,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2,1
613,LP002990,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,0

In [59]:
x = loan1.drop(['Loan_ID', 'Loan_Status'], axis=1)
y = loan1['Loan_Status']

In [60]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [61]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size = 0.2, stratify = y, random_state = 0)

In [62]:
model = SVC()

In [63]:
model.fit(x_train, y_train)

SVC()

In [65]:
model.score(x_train, y_train)

0.6979166666666666

In [66]:
model.score(x_test, y_test)

0.6927083333333334

In [67]:
from sklearn.preprocessing import MinMaxScaler

In [68]:
scaler = MinMaxScaler()

In [70]:
x_train = scaler.fit_transform(x_train)

In [71]:
x_test = scaler.fit_transform(x_test)

In [72]:
model2 = SVC()

In [73]:
model2.fit(x_train, y_train)

SVC()

In [76]:
model2.score(x_train, y_train)

0.8229166666666666

In [77]:
model2.score(x_test, y_test)

0.8020833333333334

---

Gender               13  
Married               3  
Dependents           15  
Self_Employed        32  
LoanAmount           22  
Loan_Amount_Term     14  
Credit_History       50

1. Gender

In [79]:
loan['Gender'].mode()

0    Male
Name: Gender, dtype: object

In [78]:
loan['Gender'].value_counts(dropna=False)

Male      489
Female    112
NaN        13
Name: Gender, dtype: int64

In [81]:
Male = loan['Gender'].value_counts(dropna=False)[0]
Female = loan['Gender'].value_counts(dropna=False)[1]
null = loan['Gender'].value_counts(dropna=False)[2]

In [88]:
print('Male의 비율: %.2f'%(Male /len(loan) *100))
print('Female의 비율: %.2f'%(Female /len(loan) *100))
print('null의 비율: %.2f'%(null /len(loan) *100))

Male의 비율: 79.64
Female의 비율: 18.24
null의 비율: 2.12

In [171]:
loan['Gender'].fillna(loan['Gender'].mode()[0], inplace = True)

In [172]:
loan['Gender'].isnull().sum()

0

2. Married

In [91]:
loan['Married'].value_counts(dropna=False)

Yes    398
No     213
NaN      3
Name: Married, dtype: int64

In [173]:
loan['Married'].fillna(loan['Married'].mode()[0], inplace = True)

In [174]:
loan['Married'].isnull().sum()

0

3. Dependents

In [94]:
loan['Dependents'].value_counts(dropna=False)

0      345
1      102
2      101
3+      51
NaN     15
Name: Dependents, dtype: int64

In [175]:
loan.groupby('Married')['Dependents'].value_counts(dropna=False)

Married  Dependents
No       0             171
         1              23
         2               8
         3+              7
         NaN             4
Yes      0             174
         2              93
         1              79
         3+             44
         NaN            11
Name: Dependents, dtype: int64

In [176]:
loan['Dependents'].isnull().sum()

15

In [100]:
for i in len(loan):
    if loan[i]['Married'] == 'No':
        loan[i]['Married'].replace(None, '0')

TypeError: 'int' object is not iterable

In [99]:
loan.iloc[1]['Married']

'Yes'

In [177]:
loan['Dependents'].fillna(loan['Dependents'].mode()[0], inplace = True)

In [178]:
loan['Dependents'].isnull().sum()

0

4. Self_Employed

In [179]:
null_list = ['Self_Employed', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']

for col in null_list:
    loan[col].fillna(loan[col].mode()[0], inplace = True)

In [180]:
loan.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [181]:
for col in obj_col[1:]:
    label = LabelEncoder()
    loan[col] = label.fit_transform(loan[col])

In [197]:

for i, encoder in enumerate(obj_col[1:]):
    label = LabelEncoder()
    with open(f'label_encode_{encoder}.pkl','wb') as f:
        pickle.dump(label, f)

In [182]:
loan

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,120.0,360.0,1.0,2,1
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,1
610,LP002979,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0,1
611,LP002983,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,1
612,LP002984,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2,1
613,LP002990,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,0

In [185]:
label.classes_

array(['N', 'Y'], dtype=object)

In [ ]:
label.

In [117]:
model3 = SVC()

In [118]:
x1 = loan.drop(['Loan_ID', 'Loan_Status'], axis = 1)

In [119]:
y1 = loan['Loan_Status']

In [120]:
x_train1, x_test1, y_train1, y_test1 = train_test_split(x1, y1, test_size = 0.2, stratify = y1, random_state = 0)

In [121]:
model3.fit(x_train1, y_train1)

SVC()

In [122]:
model3.score(x_train1, y_train1)

0.6904276985743381

In [123]:
model3.score(x_test1, y_test1)

0.6910569105691057

In [124]:
x_train1 = scaler.fit_transform(x_train1)

In [125]:
x_test1 = scaler.fit_transform(x_test1)

In [126]:
model3.fit(x_train1, y_train1)

SVC()

In [127]:
model3.score(x_train1, y_train1)

0.8105906313645621

In [128]:
model3.score(x_test1, y_test1)

0.8130081300813008

In [132]:
c_select = []
for i in range(1,11):
    temp = []
    model4 = SVC(C=i)
    model4.fit(x_train1, y_train1)
    train = model4.score(x_train1, y_train1)
    test = model4.score(x_test1, y_test1)
    temp.append(i)
    temp.append(train)
    temp.append(test)
    c_select.append(temp)

In [134]:
c_select = pd.DataFrame(c_select, columns = ['c','train', 'test'])

In [139]:
c_select.sort_values('test')

    c     train      test
4   5  0.814664  0.796748
5   6  0.816701  0.796748
6   7  0.816701  0.796748
7   8  0.818737  0.796748
8   9  0.820774  0.796748
9  10  0.822811  0.796748
2   3  0.814664  0.804878
3   4  0.814664  0.804878
0   1  0.810591  0.813008
1   2  0.810591  0.813008

---

In [138]:
loan['Self_Employed'].value_counts()

0    532
1     82
Name: Self_Employed, dtype: int64

In [150]:
model4 = SVC(C=4)
model4.fit(x_train1, y_train1)
train = model4.score(x_train1, y_train1)
test = model4.score(x_test1, y_test1)

In [151]:
print(train, test)

0.814663951120163 0.8048780487804879

In [152]:
import pickle

In [153]:
with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

In [154]:
with open('model.pkl', 'wb') as f:
    pickle.dump(model4, f)