In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [4]:
loan = pd.read_csv('loan.csv')

In [5]:
null_col = ['Gender', 'Married', 'Dependents','Self_Employed']

for col in null_col:
    loan[col].fillna(loan[col].mode()[0], inplace = True)

In [6]:
for col in null_col:
    print(col, loan[col].mode()[0])
    
    # 뽑아놓고 메모해두는 것도 좋음

Gender Male
Married Yes
Dependents 0
Self_Employed No

In [7]:
loan['Gender'].fillna('Male',inplace = True)
loan['Married'].fillna('Yes',inplace = True)
loan['Dependents'].fillna(0,inplace = True)
loan['Self_Employed'].fillna('No',inplace = True)

In [8]:
null_dict ={}
null_col = ['Gender', 'Married', 'Dependents','Self_Employed']

for col in null_col:
    null_dict[col] = loan[col].mode()[0]
    
null_dict['LoanAmount'] = loan['LoanAmount'].median()
null_dict['Loan_Amount_Term'] = loan['Loan_Amount_Term'].mode()[0]
null_dict['Credit_History'] = loan['Credit_History'].mode()[0]

In [9]:
null_dict

{'Gender': 'Male',
 'Married': 'Yes',
 'Dependents': '0',
 'Self_Employed': 'No',
 'LoanAmount': 128.0,
 'Loan_Amount_Term': 360.0,
 'Credit_History': 1.0}

In [10]:
import pickle

In [11]:
with open ('null_dict.pkl', 'wb') as f:
    pickle.dump(null_dict, f)

In [12]:
with open('null_dict.pkl', 'rb') as f:
    null_dict = pickle.load(f)

In [13]:
null_dict

{'Gender': 'Male',
 'Married': 'Yes',
 'Dependents': '0',
 'Self_Employed': 'No',
 'LoanAmount': 128.0,
 'Loan_Amount_Term': 360.0,
 'Credit_History': 1.0}

In [14]:
obj_col = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Property_Area']

In [15]:
for col in obj_col:
    label = LabelEncoder()
    loan[col] = label.fit_transform(loan[col])
    filename = 'label_' + col +'.pkl'
    with open(filename, 'wb') as f:
        pickle.dump(label, f)

In [16]:
loan

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,NaN,360.0,1.0,2,Y
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,N
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,Y
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,Y
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,Y
610,LP002979,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0,Y
611,LP002983,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,Y
612,LP002984,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2,Y
613,LP002990,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,N

In [17]:
real = ['LP002990', 'Female', 'No', '0', 'Graduate', 'Yes', 4583, 0.0, 133.0, 360.0, 0.0, 'Semiurban']

In [18]:
real = np.array(real).reshape(1,-1)

In [19]:
df = pd.DataFrame(real, columns = ['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Property_Area'])

In [20]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban

In [ ]:
for col in null_col:
    df[col].fillna(null_dict[col], inplace = True)

In [21]:
obj_col

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area']

In [22]:
obj_col = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Property_Area']

for col in obj_col:
    filename = 'label_' + col +'.pkl'
    with open(filename, 'rb') as f:
        label = pickle.load(f)
        print(label.classes_)
    df[col] = label.transform(df[col])

['Female' 'Male']
['No' 'Yes']
['0' '1' '2' '3+']
['Graduate' 'Not Graduate']
['No' 'Yes']
['Rural' 'Semiurban' 'Urban']

In [23]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP002990,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1

In [24]:
real2 = ['LP001345', 'Male', 'Yes', '2', 'Not Graduate', 'No', 4288, 3263.0, 133.0, 180.0, 1.0, 'Urban']

In [25]:
real2 = np.array(real2).reshape(1,-1)

In [26]:
df2 = pd.DataFrame(real2, columns = ['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Property_Area'])

In [28]:
df2

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,Male,Yes,2,Not Graduate,No,4288,3263.0,133.0,180.0,1.0,Urban

In [29]:
obj_col = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Property_Area']

for col in obj_col:
    filename = 'label_' + col +'.pkl'
    with open(filename, 'rb') as f:
        label = pickle.load(f)
        print(label.classes_)
    df2[col] = label.transform(df2[col])

['Female' 'Male']
['No' 'Yes']
['0' '1' '2' '3+']
['Graduate' 'Not Graduate']
['No' 'Yes']
['Rural' 'Semiurban' 'Urban']

In [30]:
df2

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,1,1,2,1,0,4288,3263.0,133.0,180.0,1.0,2