In [86]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [101]:
real = ['LP002990', 'Female', 'No', '0', 'Graduate', 'Yes', 4583, 0.0, 133.0, 360.0, 0.0, 'Semiurban']

In [102]:
real = np.array(real).reshape(1,-1)

In [103]:
df = pd.DataFrame(real,columns = ['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term', 'Credit_History', 'Property_Area'])

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            1 non-null      object
 1   Gender             1 non-null      object
 2   Married            1 non-null      object
 3   Dependents         1 non-null      object
 4   Education          1 non-null      object
 5   Self_Employed      1 non-null      object
 6   ApplicantIncome    1 non-null      object
 7   CoapplicantIncome  1 non-null      object
 8   LoanAmount         1 non-null      object
 9   Loan_Amount_Term   1 non-null      object
 10  Credit_History     1 non-null      object
 11  Property_Area      1 non-null      object
dtypes: object(12)
memory usage: 224.0+ bytes

In [105]:
obj_col = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Property_Area']

for col in obj_col:
    filename = 'label_' + col +'.pkl'
    with open(filename, 'rb') as f:
        label = pickle.load(f)
        print(label.classes_)
    df[col] = label.transform(df[col])

[0 1]

ValueError: y contains previously unseen labels: 'Female'

In [94]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP002990,0,0,0,0,0,4583,0.0,133.0,360.0,0.0,0

In [106]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.preprocessing import MinMaxScaler

In [107]:
x = df.drop(['Loan_ID'], axis = 1)

In [108]:
import pickle

In [64]:
with open('model.pkl', 'rb') as f:
    model = pickle.load(f)

In [65]:
model.predict(x)

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SVC was fitted without feature names
  warnings.warn(

array([0])

In [96]:
real2 = ['LP001345', 'Male', 'Yes', '2', 'Not Graduate', 'No', 4288, 3263.0, 133.0, 180.0, 1.0, 'Urban']

In [97]:
real2 =np.array(real2).reshape(1,-1)

In [98]:
df2 = pd.DataFrame(real2, columns =  ['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term', 'Credit_History', 'Property_Area'])

In [99]:
for i, col in enumerate(obj_col[1:]):
    df2[col] = label_i.fit_transform(df2[col])

In [100]:
df2

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001345,0,0,0,0,0,4288,3263.0,133.0,180.0,1.0,0