In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('ecommerse.csv')

In [3]:
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [4]:
# 1. 
df['Purchase Price']

0       98.14
1       70.73
2        0.95
3       78.04
4       77.82
        ...
9995    82.21
9996    25.63
9997    83.98
9998    38.84
9999    67.59
Name: Purchase Price, Length: 10000, dtype: float64

In [5]:
df['Purchase Price'].mean()

50.34730200000025

In [6]:
# 2. 
df['Language'].value_counts()

de    1155
ru    1155
el    1137
pt    1118
en    1098
fr    1097
es    1095
it    1086
zh    1059
Name: Language, dtype: int64

In [8]:
df[df['Language'].str.upper() == 'EN'] # 원본에 저장하지 말기. 임시로만 사용할 것

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
11,"349 Laurie Parks\nThomasview, ID 08970",30 kK,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,Kim-Oliver,869975209012056,06/26,9717,JCB 15 digit,johnnymiller@coleman.com,Diagnostic radiographer,128.222.40.234,en,19.26
12,"733 Heather Rest Apt. 670\nBoltonport, UT 78662",69 DO,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_3 ...,Moore-Martin,5115990487067905,05/26,119,VISA 16 digit,tholt@hotmail.com,"Surveyor, quantity",236.71.234.240,en,39.65
22,"625 Laura Summit Suite 112\nShortmouth, AK 97156",45 oa,PM,Mozilla/5.0 (Windows 95) AppleWebKit/5342 (KHT...,Burnett Ltd,3158663456056588,07/22,508,Discover,chambersmichael@gmail.com,Retail manager,65.106.61.141,en,33.62
26,"5334 Sheppard Fort\nNorth Kirsten, ND 71170",40 ND,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_3)...,"Stephens, Johnson and Combs",60488441233,03/19,70,VISA 13 digit,mlogan@gmail.com,Barrister's clerk,61.197.134.185,en,17.75
31,USNS Alvarado\nFPO AA 27052-1231,26 Lh,PM,Opera/8.84.(X11; Linux i686; sl-SI) Presto/2.9...,Nicholson Group,4614997834548,03/22,909,Mastercard,ashley12@hotmail.com,Sales executive,94.176.142.201,en,94.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9961,"714 Joshua Ridges\nCarpenterville, NJ 37418",84 rK,PM,Opera/9.49.(X11; Linux i686; it-IT) Presto/2.9...,White-Wilson,3158062139581601,08/16,723,VISA 13 digit,justin11@porter-smith.info,"Nurse, mental health",40.218.118.68,en,23.96
9963,"3865 Davis Meadow Suite 915\nPort Stacieview, ...",11 fo,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_3 like M...,"Brown, Gentry and White",4295151255424068,07/25,764,JCB 15 digit,zjames@gmail.com,Surgeon,171.24.198.172,en,58.17
9970,"0060 Keith Stream\nWestport, CO 47097",11 nt,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,"Carpenter, Good and Hart",6011485664704662,07/19,543,Discover,rangelbrian@hotmail.com,Electrical engineer,242.8.85.205,en,17.76
9973,"92126 Daniel Streets\nNorth Patricia, IA 10477",04 QN,PM,Mozilla/5.0 (Windows NT 5.2) AppleWebKit/5362 ...,Morrow Inc,501850922854,02/19,2708,American Express,rlewis@yahoo.com,"Editor, magazine features",201.88.164.123,en,83.30
9979,"00490 Joseph Haven Apt. 149\nWest Keithfurt, S...",69 XK,PM,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/5311 ...,Randall-Ramirez,346734838013255,10/23,224,JCB 16 digit,qjohnson@yahoo.com,Lawyer,17.76.83.105,en,14.55

In [12]:
len(df[df['Language'].str.upper() == 'EN'])

1098

In [ ]:
#
user_in = input('언어를 입력하세요.')

In [ ]:
len(df[df['Language'].str.lower() == user_in.lower()])

In [17]:
#3.
df['Job'].unique()

array(['Scientist, product/process development', 'Drilling engineer',
       'Customer service manager', 'Fine artist', 'Fish farm manager',
       'Dancer', 'Event organiser', 'Financial manager',
       'Forensic scientist', 'Development worker, community',
       'Diagnostic radiographer', 'Surveyor, quantity',
       'Accountant, chartered public finance', 'Acupuncturist',
       'Retail manager', 'Therapist, art', 'Designer, jewellery',
       'Photographer', 'Designer, interior/spatial',
       'Public relations officer', 'Presenter, broadcasting',
       'Field seismologist', 'Musician',
       'Training and development officer', "Barrister's clerk",
       'Careers adviser', 'Scientist, research (life sciences)',
       'Recycling officer', 'Fisheries officer', 'Sales executive',
       'Civil Service fast streamer', 'Theatre stage manager',
       'Therapist, music', 'Lecturer, further education',
       'Animal technologist', 'Psychologist, occupational',
       'Music therapist', 'Minerals surveyor',
       'Tourist information centre manager', 'Tax inspector',
       'Buyer, industrial', 'Purchasing manager', 'Heritage manager',
       'Games developer', 'Facilities manager', 'Chemist, analytical',
       'Horticulturist, amenity', 'Mechanical engineer',
       'Clinical research associate', 'Technical author',
       'Radio broadcast assistant', 'Engineer, broadcasting (operations)',
       'Clothing/textile technologist', 'Holiday representative',
       'Housing manager/officer', 'Teacher, special educational needs',
       'Engineer, agricultural', 'Buyer, retail',
       'Doctor, general practice', 'Hotel manager',
       'Engineer, civil (consulting)', 'General practice doctor',
       'Jewellery designer', 'Therapist, speech and language',
       'Operational researcher', 'Graphic designer',
       'Editorial assistant', 'Financial adviser', 'Paramedic',
       'Secretary, company', 'Paediatric nurse',
       'Data processing manager', 'Print production planner',
       'Engineer, materials', 'Economist', 'Designer, furniture',
       'Human resources officer', 'Administrator',
       'Teacher, secondary school', 'Video editor',
       'Chartered certified accountant',
       'Teacher, English as a foreign language', 'Airline pilot',
       'Engineer, land', 'Legal secretary', 'Administrator, arts',
       'Dealer', 'Town planner', 'Travel agency manager',
       'Engineer, water', 'Lecturer, higher education',
       'Higher education careers adviser', 'Intelligence analyst',
       'Technical sales engineer', 'Dietitian',
       'International aid/development worker',
       'Learning disability nurse', 'Geneticist, molecular',
       'Optometrist', 'Building surveyor', 'Sports therapist',
       'Geophysical data processor', 'Multimedia programmer',
       'Research scientist (maths)', 'Social worker', 'Camera operator',
       'Interpreter', 'Furniture designer', 'Commercial horticulturist',
       'Surgeon', 'Psychotherapist, dance movement',
       'Information systems manager', 'Music tutor',
       'Merchandiser, retail', 'Insurance risk surveyor',
       'Armed forces operational officer', 'Homeopath',
       'Animal nutritionist', 'Tourism officer', 'Cabin crew',
       'Psychiatric nurse', 'Magazine features editor',
       'Chartered management accountant', 'Market researcher',
       'Mudlogger', 'Textile designer', 'Restaurant manager, fast food',
       'Medical laboratory scientific officer',
       'Chartered public finance accountant', 'Financial trader',
       'Scientist, marine', 'Environmental manager',
       'Community education officer', 'Solicitor',
       'Psychologist, clinical', 'Occupational therapist',
       'Retail merchandiser', 'Mental health nurse', 'Ophthalmologist',
       'Insurance underwriter', 'Engineer, aeronautical',
       'Chartered accountant', 'Environmental health practitioner',
       'Research scientist (life sciences)', 'Wellsite geologist',
       'Product designer', 'Armed forces technical officer',
       'Television/film/video producer', 'Water quality scientist',
       'Furniture conservator/restorer', 'Radio producer',
       'Programmer, multimedia', 'Scientist, biomedical',
       'Psychologist, sport and exercise', 'Merchant navy officer',
       'Designer, television/film set', 'Engineering geologist',
       'Health and safety inspector', 'Naval architect', 'Chiropodist',
       'Engineer, chemical', 'Scientist, research (medical)',
       'Personal assistant', 'Retail banker',
       'Advertising account planner', 'Art therapist',
       'Forest/woodland manager', 'Research scientist (medical)',
       'Scientific laboratory technician', 'Licensed conveyancer',
       'Engineer, building services', 'Energy engineer', 'Teacher, music',
       'Oncologist', 'Brewing technologist', 'Community arts worker',
       'Therapist, drama', 'Water engineer', 'Software engineer',
       'Geochemist', 'Designer, industrial/product',
       'Nature conservation officer',
       'Production designer, theatre/television/film',
       'Commercial art gallery manager', 'Exhibition designer',
       'Education officer, environmental',
       'Runner, broadcasting/film/video', 'Pharmacist, hospital',
       'Doctor, hospital', 'Teacher, adult education', 'Sub',
       'Podiatrist', 'Air broker', 'Engineer, civil (contracting)',
       'Lexicographer', 'Speech and language therapist',
       'Catering manager', 'Colour technologist', 'Surveyor, building',
       'Agricultural consultant', 'Horticultural therapist',
       'Pension scheme manager', 'Theatre manager', 'Producer, radio',
       'Scientist, forensic', 'Surveyor, insurance',
       'Hospital pharmacist', 'Surveyor, rural practice',
       'Industrial/product designer', 'Corporate treasurer',
       'Structural engineer', 'Research officer, trade union',
       'Pensions consultant', 'Secretary/administrator', 'Firefighter',
       'Database administrator', 'Health promotion specialist',
       'Operations geologist', 'Regulatory affairs officer',
       'Production assistant, radio', 'Press sub',
       'Education administrator', 'Biomedical scientist', 'Tour manager',
       'Midwife', 'Television floor manager', 'Mining engineer',
       'Interior and spatial designer', 'Engineer, energy',
       'Publishing rights manager', 'Manufacturing systems engineer',
       'Designer, exhibition/display',
       'Control and instrumentation engineer', 'Ergonomist',
       'Scientist, research (maths)', 'Psychologist, forensic',
       'Clinical scientist, histocompatibility and immunogenetics',
       'Accommodation manager', 'Administrator, sports',
       'Sports development officer', 'Educational psychologist',
       'Social research officer, government', 'Quarry manager',
       'Medical sales representative', 'Consulting civil engineer',
       'Trade union research officer', 'Financial planner',
       'Futures trader', 'Medical illustrator', 'Engineer, structural',
       'Transport planner', 'Special educational needs teacher',
       'Chiropractor', 'Therapist, sports',
       'Scientist, research (physical sciences)', 'Site engineer',
       'Psychologist, counselling', 'Bonds trader', 'Banker',
       'Proofreader', 'Social researcher', 'Analytical chemist',
       'Dramatherapist', 'Editor, commissioning', 'Sports administrator',
       'Sport and exercise psychologist', 'Garment/textile technologist',
       'Engineer, maintenance (IT)', 'Surveyor, building control',
       'Media planner', 'Statistician', 'Food technologist',
       'Chartered loss adjuster', 'Petroleum engineer',
       'Engineer, maintenance', 'Television camera operator',
       'Geoscientist', 'Printmaker', 'Artist', 'Hospital doctor',
       'Systems analyst', 'Radiographer, therapeutic',
       'Freight forwarder', 'Call centre manager', 'Theatre director',
       'Occupational psychologist', 'Communications engineer',
       'Land/geomatics surveyor', 'Advertising account executive',
       'Civil engineer, consulting', 'Medical secretary',
       'IT technical support officer', 'Advice worker',
       'Visual merchandiser', 'Nurse, mental health',
       'Further education lecturer', 'Investment banker, corporate',
       'Bookseller', 'Engineer, production', 'Health visitor',
       'Archivist', 'Recruitment consultant',
       'Conservator, museum/gallery', 'Translator', 'Youth worker',
       'Operational investment banker',
       'Radiation protection practitioner',
       'Research officer, political party', 'Make',
       'Horticulturist, commercial', 'Surveyor, hydrographic',
       'Engineer, communications', 'Surveyor, minerals', 'Hydrologist',
       'Race relations officer', 'Quantity surveyor',
       'Geologist, wellsite', 'Museum/gallery conservator',
       'Community pharmacist', 'Adult guidance worker',
       'Building control surveyor', 'Museum/gallery exhibitions officer',
       'Ambulance person', 'Probation officer', 'Orthoptist',
       'Charity officer', 'Risk analyst', 'Best boy',
       'Arts administrator',
       'Lighting technician, broadcasting/film/video',
       'Engineer, drilling', 'Engineer, control and instrumentation',
       'Medical physicist', 'Dispensing optician',
       'Management consultant', 'Commercial/residential surveyor',
       'English as a foreign language teacher', 'Engineer, site',
       'Automotive engineer', 'Air traffic controller', 'Lawyer',
       'Contracting civil engineer', 'Psychotherapist, child',
       'Maintenance engineer', 'Science writer',
       'Administrator, education', 'Administrator, Civil Service',
       'Estate manager/land agent', 'Company secretary',
       'Therapist, horticultural', 'Broadcast engineer',
       'Sound technician, broadcasting/film/video',
       'Private music teacher', 'Engineer, manufacturing',
       'Emergency planning/management officer', 'Risk manager',
       'IT consultant', 'Geographical information systems officer',
       'Equities trader', 'Immigration officer',
       'Therapeutic radiographer', 'Curator', 'Child psychotherapist',
       'Advertising art director', 'Forensic psychologist',
       'Hydrographic surveyor', 'Immunologist', 'Sports coach',
       'Haematologist', 'Waste management officer',
       'Conservator, furniture', 'Research officer, government',
       'Agricultural engineer', 'IT sales professional',
       'Armed forces logistics/support/administrative officer',
       'Field trials officer', 'Psychotherapist', 'Air cabin crew',
       'Psychiatrist', 'Illustrator', 'Marine scientist',
       'Multimedia specialist', 'Cytogeneticist',
       'Occupational hygienist', 'Charity fundraiser',
       'Planning and development surveyor', 'Counselling psychologist',
       'Physicist, medical', 'TEFL teacher',
       'Research scientist (physical sciences)', 'Fashion designer',
       'Engineer, petroleum', 'Tree surgeon',
       'Corporate investment banker', 'Public house manager',
       'Designer, textile', 'Public librarian',
       'Arts development officer', 'Actor', 'Hydrogeologist',
       'Production assistant, television', 'Embryologist, clinical',
       'Press photographer', 'Marketing executive',
       'Television production assistant', 'Early years teacher',
       'Landscape architect', 'Librarian, academic', 'Web designer',
       'Health service manager', 'Clinical psychologist',
       'Exercise physiologist', 'Electrical engineer',
       'Psychologist, prison and probation services',
       'Journalist, magazine', 'Dance movement psychotherapist',
       'Animator', 'Legal executive', 'Plant breeder/geneticist',
       'Manufacturing engineer', 'Microbiologist', 'Biochemist, clinical',
       'Broadcast presenter', 'Ranger/warden',
       'Programme researcher, broadcasting/film/video', 'Dentist',
       'Aid worker', 'Publishing copy', 'Environmental education officer',
       'Librarian, public', 'Phytotherapist', 'Nurse, adult',
       'Programmer, systems', 'Scientist, physiological',
       'Secondary school teacher', 'Media buyer', 'Trade mark attorney',
       'Editor, film/video', 'Careers information officer',
       'Retail buyer', 'Ship broker', 'Lobbyist', 'Location manager',
       'Surveyor, mining', 'Systems developer', 'Optician, dispensing',
       'Chemical engineer', 'Oceanographer', 'Patent attorney',
       'Passenger transport manager', 'Glass blower/designer',
       'Psychologist, educational', 'Education officer, museum',
       'Patent examiner', 'Logistics and distribution manager',
       'Trading standards officer', 'Seismic interpreter',
       'Local government officer', 'Clinical cytogeneticist',
       'Biomedical engineer', 'Diplomatic Services operational officer',
       'Land', 'Surveyor, planning and development', 'Farm manager',
       'Claims inspector/assessor', 'Warden/ranger',
       'Civil engineer, contracting', 'Clinical molecular geneticist',
       'Surveyor, land/geomatics', 'Therapist, nutritional',
       'Historic buildings inspector/conservation officer',
       'English as a second language teacher', 'Materials engineer',
       'Insurance broker', 'Ecologist', 'Production manager',
       'Veterinary surgeon', 'Pilot, airline', "Nurse, children's",
       'Astronomer', 'Architect', 'Conservation officer, nature',
       'Personnel officer', 'Network engineer', 'Investment analyst',
       'Writer', 'Designer, fashion/clothing', 'Theme park manager',
       'Engineer, electrical', 'Art gallery manager', 'Office manager',
       'Pharmacologist', 'Meteorologist', 'Estate agent',
       "Politician's assistant", 'Environmental consultant', 'Osteopath',
       'Amenity horticulturist', 'Physiological scientist',
       'Public relations account executive',
       'Senior tax professional/tax inspector', 'Arboriculturist',
       'Radiographer, diagnostic', 'Engineer, automotive',
       'Editor, magazine features', 'Sales professional, IT',
       'Commissioning editor', 'Ceramics designer',
       'Scientist, clinical (histocompatibility and immunogenetics)',
       'Geologist, engineering', 'Designer, multimedia',
       'Engineer, manufacturing systems', 'Clinical embryologist',
       'Medical technical officer', 'Teacher, primary school',
       'Set designer', 'Producer, television/film/video',
       'Education officer, community',
       'Conservation officer, historic buildings',
       'Insurance account manager', 'Financial controller',
       'Film/video editor', 'Museum/gallery curator',
       'Accounting technician', 'Stage manager', 'Physiotherapist',
       'Sales promotion account executive', 'Horticultural consultant',
       'Journalist, broadcasting', 'Health and safety adviser',
       'Building services engineer',
       'Product/process development scientist', 'Metallurgist',
       'Audiological scientist', 'Designer, blown glass/stained glass',
       'Tax adviser', 'Industrial buyer',
       'Government social research officer',
       'Outdoor activities/education manager', 'Solicitor, Scotland',
       'Conference centre manager', 'Health physicist',
       'Pharmacist, community', 'Applications developer',
       'Public affairs consultant', 'Prison officer',
       'Production engineer', 'Actuary', 'Museum education officer',
       'Fitness centre manager', 'Records manager',
       'Journalist, newspaper', 'Computer games developer',
       'Toxicologist', 'Counsellor', 'Therapist, occupational',
       'Accountant, chartered certified', 'Insurance claims handler',
       'Programmer, applications', 'Accountant, chartered management',
       'Broadcast journalist', 'Energy manager', 'Barrister',
       'Scientist, audiological', 'Designer, graphic', 'Cartographer',
       'Community development worker', 'Engineer, mining',
       'Special effects artist', 'Gaffer', 'Civil Service administrator',
       'Armed forces training and education officer', 'Quality manager',
       'Engineer, electronics', 'Development worker, international aid',
       'Restaurant manager', 'Architectural technologist',
       'Academic librarian', 'Fast food restaurant manager',
       'Rural practice surveyor', 'Designer, ceramics/pottery',
       'Police officer', 'Soil scientist', 'Technical brewer',
       'Administrator, local government', 'Copywriter, advertising',
       'Volunteer coordinator', 'Magazine journalist',
       'Information officer', 'Copy', 'Advertising copywriter',
       'Engineer, biomedical', 'Nurse, learning disability',
       'Aeronautical engineer', 'Archaeologist', 'IT trainer',
       'Clinical biochemist',
       'Administrator, charities/voluntary organisations', 'Pathologist',
       'Geophysicist/field seismologist',
       'Investment banker, operational', 'Teacher, early years/pre',
       'Electronics engineer', 'Exhibitions officer, museum/gallery',
       'Nutritional therapist', 'Teaching laboratory technician',
       'Herbalist', 'Leisure centre manager', 'Higher education lecturer',
       'Newspaper journalist', 'Accountant, chartered',
       'Loss adjuster, chartered', 'Surveyor, commercial/residential',
       'Warehouse manager', 'Scientist, water quality',
       'Primary school teacher',
       'Chartered legal executive (England and Wales)',
       'Telecommunications researcher', 'Equality and diversity officer',
       'Learning mentor', 'Financial risk analyst',
       'Engineer, technical sales', 'Adult nurse'], dtype=object)

In [18]:
len(df['Job'].unique())

623

In [20]:
#4
df[['Job', 'Purchase Price']]

                                         Job  Purchase Price
0     Scientist, product/process development           98.14
1                          Drilling engineer           70.73
2                   Customer service manager            0.95
3                          Drilling engineer           78.04
4                                Fine artist           77.82
...                                      ...             ...
9995                              Printmaker           82.21
9996                         Energy engineer           25.63
9997                      Veterinary surgeon           83.98
9998                Local government officer           38.84
9999                  Embryologist, clinical           67.59

[10000 rows x 2 columns]

In [22]:
df.groupby('Job')['Purchase Price'].sum()

Job
Academic librarian                   527.47
Accommodation manager                629.65
Accountant, chartered               1051.31
Accountant, chartered certified     1043.01
Accountant, chartered management    1036.24
                                     ...
Water quality scientist              837.47
Web designer                        1195.29
Wellsite geologist                  1231.42
Writer                               448.63
Youth worker                         729.24
Name: Purchase Price, Length: 623, dtype: float64

In [24]:
df.groupby('Job')['Purchase Price'].sum().sort_values(ascending = False)

Job
Dietitian                      1605.30
Lawyer                         1603.85
Purchasing manager             1577.97
Therapist, art                 1526.31
Clinical cytogeneticist        1495.92
                                ...
Music therapist                 327.50
Actuary                         262.72
Information systems manager     241.42
Marketing executive             234.08
Art gallery manager             219.05
Name: Purchase Price, Length: 623, dtype: float64

In [26]:
df.groupby('Job')['Purchase Price'].sum().sort_values(ascending = False).head(1)

Job
Dietitian    1605.3
Name: Purchase Price, dtype: float64

In [25]:
df.groupby('Job')['Purchase Price'].sum().sort_values(ascending = False).index[0]

'Dietitian'

In [27]:
df.groupby('Job')['Purchase Price'].sum().sort_values(ascending = False).values[0]

1605.3

In [28]:
df.groupby('Job')['Purchase Price'].sum().sort_values(ascending = True)

Job
Art gallery manager             219.05
Marketing executive             234.08
Information systems manager     241.42
Actuary                         262.72
Music therapist                 327.50
                                ...
Clinical cytogeneticist        1495.92
Therapist, art                 1526.31
Purchasing manager             1577.97
Lawyer                         1603.85
Dietitian                      1605.30
Name: Purchase Price, Length: 623, dtype: float64

In [29]:
df.groupby('Job')['Purchase Price'].sum().sort_values(ascending = True).head(1)

Job
Art gallery manager    219.05
Name: Purchase Price, dtype: float64

In [30]:
df.groupby('Job')['Purchase Price'].sum().sort_values(ascending = True).index[0]

'Art gallery manager'

In [31]:
df.groupby('Job')['Purchase Price'].sum().sort_values(ascending = True).values[0]

219.05

In [32]:
#6

df['Job'].value_counts().head(1)

Interior and spatial designer    31
Name: Job, dtype: int64

In [36]:
#7

df['Email']

0                    pdunlap@yahoo.com
1                   anthony41@reed.com
2       amymiller@morales-harrison.com
3          brent16@olson-robinson.info
4          christopherwright@gmail.com
                     ...
9995            iscott@wade-garner.com
9996                mary85@hotmail.com
9997                 tyler16@gmail.com
9998           elizabethmoore@reid.net
9999             rachelford@vaughn.com
Name: Email, Length: 10000, dtype: object

In [38]:
df['Email'].str.lower()

0                    pdunlap@yahoo.com
1                   anthony41@reed.com
2       amymiller@morales-harrison.com
3          brent16@olson-robinson.info
4          christopherwright@gmail.com
                     ...
9995            iscott@wade-garner.com
9996                mary85@hotmail.com
9997                 tyler16@gmail.com
9998           elizabethmoore@reid.net
9999             rachelford@vaughn.com
Name: Email, Length: 10000, dtype: object

In [39]:
df['Email'].str.upper()

0                    PDUNLAP@YAHOO.COM
1                   ANTHONY41@REED.COM
2       AMYMILLER@MORALES-HARRISON.COM
3          BRENT16@OLSON-ROBINSON.INFO
4          CHRISTOPHERWRIGHT@GMAIL.COM
                     ...
9995            ISCOTT@WADE-GARNER.COM
9996                MARY85@HOTMAIL.COM
9997                 TYLER16@GMAIL.COM
9998           ELIZABETHMOORE@REID.NET
9999             RACHELFORD@VAUGHN.COM
Name: Email, Length: 10000, dtype: object

In [47]:
df[df['Email'].str.lower() == 'bondellen@williams-garza.com'.lower()]['Purchase Price'].values[0]

77.88

In [48]:
#8

df['CC Provider'].unique()

array(['JCB 16 digit', 'Mastercard', 'Discover',
       'Diners Club / Carte Blanche', 'VISA 16 digit', 'VISA 13 digit',
       'American Express', 'Voyager', 'JCB 15 digit', 'Maestro'],
      dtype=object)

In [49]:
df['CC Provider'].str.lower() == 'Mastercard'.lower()

0       False
1        True
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: CC Provider, Length: 10000, dtype: bool

In [51]:
df[(df['CC Provider'].str.lower() == 'Mastercard'.lower()) & (df['Purchase Price'] >= 50)]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
18,"461 Christopher Square\nWest Michaelchester, C...",17 SB,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,"Beard, Abbott and Pena",6011350184276270,12/22,767,Mastercard,hannah63@yahoo.com,Photographer,73.250.176.201,el,70.15
31,USNS Alvarado\nFPO AA 27052-1231,26 Lh,PM,Opera/8.84.(X11; Linux i686; sl-SI) Presto/2.9...,Nicholson Group,4614997834548,03/22,909,Mastercard,ashley12@hotmail.com,Sales executive,94.176.142.201,en,94.14
35,"93392 Webb Gardens Apt. 220\nLaurabury, AR 999...",37 om,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Mora Ltd,6011049630969815,09/16,367,Mastercard,hgonzalez@mcdowell.com,"Lecturer, further education",216.23.95.40,zh,97.46
90,"431 Bowen Lights\nFergusonborough, MH 01362",31 tG,AM,Mozilla/5.0 (Windows NT 5.2; it-IT; rv:1.9.1.2...,Copeland-Lee,639032576097,06/18,868,Mastercard,nrogers@brown.com,"Teacher, English as a foreign language",153.188.13.203,es,78.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9941,"43757 Brown Lodge\nValerieberg, PR 88518",68 DG,AM,Mozilla/5.0 (compatible; MSIE 5.0; Windows NT ...,"Jones, Williams and Dunn",6011508474487291,04/26,906,Mastercard,christian55@gmail.com,Secondary school teacher,216.118.235.145,fr,60.03
9948,"95544 Johnson Isle Suite 939\nMichaelberg, RI ...",91 bW,AM,Opera/8.36.(X11; Linux x86_64; sl-SI) Presto/2...,Fox-Peterson,4762924304307,03/17,567,Mastercard,haleybenjamin@gmail.com,Structural engineer,120.36.140.58,en,71.89
9954,"051 Samantha Wells Apt. 328\nScottborough, OR ...",11 vG,AM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_2...,"Mendoza, Zimmerman and Reilly",30232295374907,05/21,762,Mastercard,brownamy@perkins.com,"Presenter, broadcasting",61.97.84.101,it,87.15
9981,"087 Larson Roads Apt. 587\nRicestad, WI 98077-...",95 Kw,AM,Opera/9.63.(Windows NT 5.01; en-US) Presto/2.9...,"Ortiz, Schultz and Adams",4690863684605,01/19,695,Mastercard,laurenbennett@richards.com,Environmental education officer,106.21.237.73,pt,63.61
9987,"2754 Klein Mission\nJohnsonview, PA 64925-9624",65 Fg,PM,Opera/9.26.(Windows CE; sl-SI) Presto/2.9.188 ...,Curtis LLC,180027305702263,12/24,865,Mastercard,denisehamilton@novak.biz,Primary school teacher,164.39.190.217,es,60.83

In [53]:
len(df[(df['CC Provider'].str.lower() == 'Mastercard'.lower())
       & (df['Purchase Price'] >= 50)])

405

In [59]:
#9 Browser info == user agent 

len(df[(df['Browser Info'].str.lower()).str.contains('Windows'.lower())])

4994

In [60]:
for os in ['window', 'linux', 'mac'] :
    p = len(df[(df['Browser Info'].str.lower()).str.contains(os)])
    print(os, p/len(df)*100)

window 49.94
linux 23.22
mac 26.840000000000003

In [62]:
for os in ['window', 'linux', 'mac'] :
    p = len(df[(df['Browser Info'].str.lower()).str.contains(os)])
    print(f'%6s %.2f'%(os, p/len(df)*100))
    
# 6칸, 소수점 2자리

window 49.94
 linux 23.22
   mac 26.84