In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('HR-Employee-Attrition.csv')

In [14]:
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [16]:
df.shape

(1470, 35)

In [17]:
df['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [7]:
gender_mapping = {'Female':0, 'Male':1} #딕셔너리

In [8]:
df['Gender'].map(gender_mapping)

0       0
1       1
2       1
3       0
4       1
       ..
1465    1
1466    1
1467    1
1468    1
1469    1
Name: Gender, Length: 1470, dtype: int64

In [9]:
df['Gender'] = df['Gender'].map(gender_mapping)

In [10]:
df['Gender'].value_counts()

1    882
0    588
Name: Gender, dtype: int64

In [18]:
df['Gender']

0       Female
1         Male
2         Male
3       Female
4         Male
         ...
1465      Male
1466      Male
1467      Male
1468      Male
1469      Male
Name: Gender, Length: 1470, dtype: object

In [12]:
df['Gender']

0       0
1       1
2       1
3       0
4       1
       ..
1465    1
1466    1
1467    1
1468    1
1469    1
Name: Gender, Length: 1470, dtype: int64

In [11]:
df['Gender'] #mapping 한번 더 해버리면 null값이 되어버린다.....

0       0
1       1
2       1
3       0
4       1
       ..
1465    1
1466    1
1467    1
1468    1
1469    1
Name: Gender, Length: 1470, dtype: int64

In [12]:
for i, j in enumerate(['Travel_Rarely' , 'Travel_Frequently', 'Non-Travel']):
    print(i,j)

0 Travel_Rarely
1 Travel_Frequently
2 Non-Travel

In [13]:
bt_mapping = {}

for i, j in enumerate(['Travel_Rarely' , 'Travel_Frequently', 'Non-Travel']):
    bt_mapping[j] = i

In [14]:
bt_mapping

{'Travel_Rarely': 0, 'Travel_Frequently': 1, 'Non-Travel': 2}

In [15]:
df['BusinessTravel'] = df['BusinessTravel'].map(bt_mapping)

In [16]:
df['BusinessTravel']

0       0
1       1
2       0
3       1
4       0
       ..
1465    1
1466    0
1467    0
1468    1
1469    0
Name: BusinessTravel, Length: 1470, dtype: int64

In [17]:
df['BusinessTravel'].value_counts()

0    1043
1     277
2     150
Name: BusinessTravel, dtype: int64

In [18]:
numColumns = df.select_dtypes(['object']).columns

In [19]:
numColumns

Index(['Attrition', 'Department', 'EducationField', 'JobRole', 'MaritalStatus',
       'Over18', 'OverTime'],
      dtype='object')

In [21]:
intColumns = df.select_dtypes(['int64']).columns

In [22]:
intColumns

Index(['Age', 'BusinessTravel', 'DailyRate', 'DistanceFromHome', 'Education',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [24]:
X = df[intColumns]

In [25]:
att_map = {}

for value, key in enumerate(df['Attrition'].unique()):
    att_map[key] = value

In [26]:
df['Attrition'] = df['Attrition'].map(att_map)

In [27]:
Y = df['Attrition']

In [28]:
print(X.shape, Y.shape)

(1470, 28) (1470,)

In [32]:
X.columns

Index(['Age', 'BusinessTravel', 'DailyRate', 'DistanceFromHome', 'Education',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [33]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [37]:
train_input, test_input, train_output, test_output = train_test_split(X, Y, test_size = 0.2, stratify = Y, random_state = 0) #랜덤 state - 시드 값 같은 것

In [39]:
print(train_input.shape)
print(test_input.shape)
print(train_output.shape)
print(test_output.shape)

(1176, 28)
(294, 28)
(1176,)
(294,)

In [40]:
classifier1 = DecisionTreeClassifier()

In [41]:
classifier2 = RandomForestClassifier()

In [42]:
classifier1.fit(train_input, train_output)

DecisionTreeClassifier()

In [43]:
predict_train = classifier1.predict(train_input)

In [44]:
predict_train

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [45]:
train_input

,Age,BusinessTravel,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1342,34,0,1480,4,3,1,1882,3,1,64,...,4,80,3,9,3,3,5,3,1,0
106,50,1,1115,1,3,1,141,1,0,73,...,1,80,0,28,1,2,8,3,0,7
28,44,0,477,7,4,1,36,1,0,42,...,4,80,1,24,4,3,22,6,5,17
845,40,1,902,26,2,1,1180,3,0,92,...,4,80,1,16,3,1,1,1,0,0
182,41,0,1356,20,2,1,248,2,0,70,...,4,80,0,4,5,2,4,3,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,28,0,1476,16,2,1,412,2,1,68,...,3,80,0,9,2,3,8,3,0,7
740,35,0,802,10,3,1,1028,2,1,45,...,1,80,1,3,4,2,3,2,1,2
713,45,0,974,1,4,1,996,4,0,91,...,4,80,2,8,2,3,5,3,0,2
285,37,0,1372,1,3,1,391,4,0,42,...,2,80,0,17,3,3,17,12,5,7
1361,26,1,1096,6,3,1,1918,3,1,61,...,1,80,1,8,3,3,7,7,7,7

In [46]:
train_output.value_counts()

1    986
0    190
Name: Attrition, dtype: int64

In [47]:
accuracy_score(predict_train, train_output) * 100

100.0

In [48]:
predict_test = classifier1.predict(test_input)

In [50]:
accuracy_score(predict_test, test_output) * 100

72.10884353741497

In [51]:
classifier2.fit(train_input, train_output)

RandomForestClassifier()

In [52]:
predict_train2 = classifier2.predict(train_input)

In [53]:
predict_train2

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [54]:
train_output.value_counts()

1    986
0    190
Name: Attrition, dtype: int64

In [55]:
accuracy_score(predict_train2, train_output) * 100

100.0

In [56]:
predict_test2 = classifier2.predict(test_input)

In [57]:
accuracy_score(predict_test2, test_output) * 100

85.03401360544217