In [1]:
import pandas as pd

In [18]:
df

  name  english  math
0  김지훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

In [19]:
df['english'].sum()

300

In [20]:
df['english'].mean()

75.0

In [21]:
df.rename({'name' : '이름'}, axis = 1) # 원본에 반영되진 않았음, axis 지정해주는 것 아주 중요함!

    이름  english  math
0  김지훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

In [22]:
df = df.rename({'name' : '이름'},axis = 1) #df[] 형태가 아니라 df에 덮어써야 함

In [24]:
df['이름'] = ['한주', '원경', '명현', '현오']

In [25]:
df

   이름  english  math
0  한주       90    50
1  원경       80    60
2  명현       60   100
3  현오       70    20

In [26]:
b = [1,2,3,4]

In [27]:
a = b.copy()

In [28]:
a

[1, 2, 3, 4]

In [29]:
b[0] = 5

In [30]:
b

[5, 2, 3, 4]

In [31]:
a

[1, 2, 3, 4]

In [32]:
df1 = df.copy()

In [33]:
df1

   이름  english  math
0  한주       90    50
1  원경       80    60
2  명현       60   100
3  현오       70    20

In [34]:
df['이름'] = '홍길동'

In [35]:
df

    이름  english  math
0  홍길동       90    50
1  홍길동       80    60
2  홍길동       60   100
3  홍길동       70    20

In [36]:
df1

   이름  english  math
0  한주       90    50
1  원경       80    60
2  명현       60   100
3  현오       70    20

In [38]:
print(id(df))
print(id(df1)) #id값이 똑같다는 것은 원본을 같이 쓴다는 뜻.
# 얕은 복사 - 원본에게 다른 변수명 하나를 더 넣는 것
# 깊은 복사 - 원본을 하나 더 만드는 것

2755860152176
2755806058576

------

In [39]:
df = pd.DataFrame({'var1' : [4, 3, 8],
                   'var2' : [2, 6, 1]})

In [40]:
df

   var1  var2
0     4     2
1     3     6
2     8     1

In [41]:
df['var_sum'] = df['var1'] + df['var2']

In [43]:
df

   var1  var2  var_sum
0     4     2        6
1     3     6        9
2     8     1        9

In [44]:
df['var_mean'] = df['var_sum'] /2

In [45]:
df

   var1  var2  var_sum  var_mean
0     4     2        6       3.0
1     3     6        9       4.5
2     8     1        9       4.5

In [47]:
import pydataset as pds

In [48]:
mpg = pds.data('mpg')

In [49]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [50]:
mpg['total'] = (mpg['cty'] + mpg['hwy']) /2

In [51]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,total
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5

In [52]:
mpg['total'].mean()

20.14957264957265

In [54]:
len(mpg[mpg['total'] > 20])

123

In [55]:
def isPass(t):
    if t > 20:
        return 'Pass'
    else:
        return 'Fail'

In [56]:
mpg['total'].apply(isPass)

1      Pass
2      Pass
3      Pass
4      Pass
5      Pass
       ...
230    Pass
231    Pass
232    Pass
233    Pass
234    Pass
Name: total, Length: 234, dtype: object

In [57]:
mpg['test'] = mpg['total'].apply(isPass)

In [58]:
mpg['test'].value_counts()

Pass    123
Fail    111
Name: test, dtype: int64

In [59]:
# apply를 쓰기 위해서는 무조건 함수가 필요하다.

In [60]:
# mpg['total'] >= 30 A
# ~ 20 B
# else C

In [72]:
def doGrade(t):
    if t >= 30:
        return 'A'
    elif t >= 20:
        return 'B'
    else:
        return 'C'

In [73]:
mpg['grade'] = mpg['total'].apply(doGrade)

In [74]:
mpg['grade'].value_counts()

B    118
C    106
A     10
Name: grade, dtype: int64

In [77]:
mpg[mpg['grade'] == 'A']

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,total,test,grade
100,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact,30.5,Pass,A
105,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact,30.0,Pass,A
106,honda,civic,1.8,2008,4,auto(l5),f,25,36,r,subcompact,30.5,Pass,A
107,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact,30.0,Pass,A
196,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact,30.5,Pass,A
197,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact,32.5,Pass,A
198,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact,30.5,Pass,A
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,38.5,Pass,A
222,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,39.5,Pass,A
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,35.0,Pass,A

In [78]:
len(mpg[mpg['grade'] == 'A'])

10

In [ ]:
#apply map? 모든 행을 대상으로

In [79]:
mpg[mpg['total'] >= 30]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,total,test,grade
100,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact,30.5,Pass,A
105,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact,30.0,Pass,A
106,honda,civic,1.8,2008,4,auto(l5),f,25,36,r,subcompact,30.5,Pass,A
107,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact,30.0,Pass,A
196,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact,30.5,Pass,A
197,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact,32.5,Pass,A
198,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact,30.5,Pass,A
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,38.5,Pass,A
222,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,39.5,Pass,A
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,35.0,Pass,A

In [80]:
len(mpg[mpg['total'] >= 30])

10

In [81]:
mpg['grade'].value_counts().sort_index()

A     10
B    118
C    106
Name: grade, dtype: int64

In [82]:
import numpy as np

In [84]:
np.where(mpg['total'] > 20, 'Pass', 'Fail')

array(['Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass',
       'Pass', 'Pass', 'Pass', 'Fail', 'Pass', 'Pass', 'Fail', 'Fail',
       'Pass', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Pass',
       'Fail', 'Pass', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Fail',
       'Fail', 'Pass', 'Pass', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Pass', 'Pass', 'Pass', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass',
       'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass',
       'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass',
       'Fail', 'Pass', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Pass', 'Pass', 'Pass',
       'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Fail', 'Fail',
       'Fail', 'Fail', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass',
       'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass',
       'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass',
       'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass',
       'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Pass',
       'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass',
       'Pass', 'Pass', 'Pass', 'Fail', 'Pass', 'Pass', 'Pass', 'Pass',
       'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass',
       'Pass', 'Pass'], dtype='<U4')

In [85]:
mpg['test2'] = np.where(mpg['total'] > 20, 'Pass', 'Fail')

In [86]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,total,test,grade,test2
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,Pass,B,Pass
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,Pass,B,Pass
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,Pass,B,Pass
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,Pass,B,Pass
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,Pass,B,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5,Pass,B,Pass
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0,Pass,B,Pass
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0,Pass,B,Pass
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0,Pass,B,Pass
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5,Pass,B,Pass

In [87]:
np.where(mpg['total'] > 30, 'A',
np.where(mpg['total'] > 20, 'B', 'Fail'))

array(['B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'Fail', 'B',
       'B', 'Fail', 'Fail', 'B', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'B', 'Fail', 'B', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'Fail', 'Fail', 'B',
       'B', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'B', 'B', 'B', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'A',
       'B', 'B', 'B', 'B', 'B', 'A', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'Fail', 'B', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'Fail',
       'Fail', 'Fail', 'Fail', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'Fail',
       'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'A', 'A',
       'A', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'B', 'B', 'B', 'B', 'B', 'A', 'B', 'B', 'B', 'B',
       'B', 'B', 'Fail', 'B', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B'], dtype='<U4')

In [88]:
np.where(mpg['total'] >= 30, 'A',
np.where(mpg['total'] >= 20, 'B',
np.where(mpg['total'] >= 10, 'C', 'D')))

array(['B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'C', 'B', 'C', 'C', 'C', 'C', 'C', 'C', 'B', 'C', 'B',
       'B', 'C', 'C', 'C', 'C', 'C', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'C', 'C', 'B', 'B', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C',
       'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C',
       'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C',
       'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'B',
       'B', 'B', 'B', 'C', 'C', 'C', 'C', 'C', 'A', 'B', 'B', 'B', 'B',
       'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C',
       'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'C', 'C', 'C', 'C', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'C', 'C', 'C', 'C', 'C', 'C', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
       'A', 'A', 'A', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'B',
       'B', 'B', 'B', 'B', 'A', 'B', 'B', 'B', 'B', 'B', 'B', 'C', 'B',
       'A', 'A', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B'],
      dtype='<U1')

In [89]:
mpg['grade2'] = np.where(mpg['total'] >= 30, 'A',
np.where(mpg['total'] >= 20, 'B',
        np.where(mpg['total'] >= 10, 'C', 'D')))

In [90]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,total,test,grade,test2,grade2
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,Pass,B,Pass,B
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,Pass,B,Pass,B
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,Pass,B,Pass,B
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,Pass,B,Pass,B
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,Pass,B,Pass,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5,Pass,B,Pass,B
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0,Pass,B,Pass,B
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0,Pass,B,Pass,B
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0,Pass,B,Pass,B
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5,Pass,B,Pass,B

In [91]:
mpg['grade'].value_counts()

B    118
C    106
A     10
Name: grade, dtype: int64

In [92]:
mpg['grade2'].value_counts()

B    118
C    106
A     10
Name: grade2, dtype: int64

In [94]:
mpg['class'].unique()

array(['compact', 'midsize', 'suv', '2seater', 'minivan', 'pickup',
       'subcompact'], dtype=object)

In [154]:
mpg['class'].str.lower().unique()

array(['compact', 'midsize', 'suv', '2seater', 'minivan', 'pickup',
       'subcompact'], dtype=object)

In [95]:
# compact, 2seater, subcompact => small

In [133]:
def sizeChange(c):
    if (c == 'compact') or (c == '2seater') or (c == 'subcompact'):
        # c == ('compact' or '2seater' or 'subcompact')
        return 'small'
    #else:
        return 'large'

In [139]:
def sizeChange1(c):
    if c in ['compact', '2seater', 'subcompact']:
        return 'small'
    else:
        return 'large'

In [140]:
sizeChange1('compact')

'small'

In [153]:
def sizeChange2:
    if mpg['class'].isin(['compact', '2seater', 'subcompact']):
        return 'small'
    else:
        return 'large'

1       True
2       True
3       True
4       True
5       True
       ...
230    False
231    False
232    False
233    False
234    False
Name: class, Length: 234, dtype: bool

In [134]:
mpg['size'] = mpg['class'].apply(sizeChange)

In [135]:
np.where(mpg['class'] == 'compact', 'small',
np.where(mpg['class'] == '2seater', 'small',
np.where(mpg['class'] == 'subcompact', 'small', 'large')))

array(['small', 'small', 'small', 'small', 'small', 'small', 'small',
       'small', 'small', 'small', 'small', 'small', 'small', 'small',
       'small', 'large', 'large', 'large', 'large', 'large', 'large',
       'large', 'large', 'small', 'small', 'small', 'small', 'small',
       'large', 'large', 'large', 'large', 'large', 'large', 'large',
       'large', 'large', 'large', 'large', 'large', 'large', 'large',
       'large', 'large', 'large', 'large', 'large', 'large', 'large',
       'large', 'large', 'large', 'large', 'large', 'large', 'large',
       'large', 'large', 'large', 'large', 'large', 'large', 'large',
       'large', 'large', 'large', 'large', 'large', 'large', 'large',
       'large', 'large', 'large', 'large', 'large', 'large', 'large',
       'large', 'large', 'large', 'large', 'large', 'large', 'large',
       'large', 'large', 'large', 'large', 'large', 'large', 'small',
       'small', 'small', 'small', 'small', 'small', 'small', 'small',
       'small', 'small', 'small', 'small', 'small', 'small', 'small',
       'small', 'small', 'small', 'large', 'large', 'large', 'large',
       'large', 'large', 'large', 'small', 'small', 'small', 'small',
       'small', 'small', 'small', 'large', 'large', 'large', 'large',
       'large', 'large', 'large', 'large', 'large', 'large', 'large',
       'large', 'large', 'large', 'large', 'large', 'large', 'large',
       'large', 'small', 'small', 'large', 'large', 'large', 'large',
       'large', 'large', 'large', 'large', 'large', 'large', 'large',
       'large', 'large', 'large', 'large', 'large', 'large', 'large',
       'large', 'large', 'large', 'large', 'small', 'small', 'small',
       'small', 'small', 'small', 'small', 'small', 'large', 'large',
       'large', 'large', 'large', 'large', 'large', 'large', 'large',
       'large', 'large', 'large', 'large', 'small', 'small', 'small',
       'small', 'small', 'small', 'small', 'small', 'small', 'small',
       'small', 'small', 'large', 'large', 'large', 'large', 'large',
       'large', 'large', 'large', 'large', 'small', 'small', 'small',
       'small', 'small', 'small', 'small', 'small', 'small', 'small',
       'small', 'small', 'small', 'small', 'small', 'small', 'small',
       'small', 'small', 'small', 'large', 'large', 'large', 'large',
       'large', 'large', 'large'], dtype='<U5')

In [136]:
mpg['size1'] = np.where(mpg['class'] == 'compact', 'small',
np.where(mpg['class'] == '2seater', 'small',
np.where(mpg['class'] == 'subcompact', 'small', 'large')))

In [137]:
mpg['size1'].value_counts()

large    147
small     87
Name: size1, dtype: int64

In [138]:
mpg['size'].value_counts()

large    147
small     87
Name: size, dtype: int64

In [158]:
mpg['size3'] = (np.where(mpg['class'].isin(['compact', 'subcompact','2seater']), 'small', 'large'))

In [159]:
mpg['size3'].value_counts()

large    147
small     87
Name: size3, dtype: int64