In [20]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [21]:
url = 'https://dhlottery.co.kr/store.do?method=topStore&pageGubun=L645'

In [22]:
data = {'method' : 'topStore',
        'nowPage' : '1',
        'rankNo' : '',
        'gameNo' : '5133',
        'drwNo' : '1037',
        'schKey' : 'all',
        'schVal' : ''}

In [23]:
req = requests.post(url, data = data)
html = req.text
soup = BeautifulSoup(html, 'html.parser')

In [24]:
name = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(2)')
gubun = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(3)')
addr = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(4)')

lotto = []
for i in range(len(name)):
    temp = []
    temp.append(name[i].text)
    temp.append(gubun[i].text.strip())
    temp.append(addr[i].text)
    lotto.append(temp)

In [25]:
lotto

[['지원물산', '자동', '서울 노원구 공릉로 108,(공릉동) '],
 ['로또 명당', '자동', '대구 동구 화랑로75길 69 '],
 ['초원복권 신창점', '자동', '광주 광산구 신창로 76 1층'],
 ['대전우표사', '자동', '대전 동구 중앙로204번길 16-1 '],
 ['대한유통', '자동', '울산 북구 박상진11로 1 1층112호'],
 ['몽키버블티', '자동', '경기 군포시 고산로250번길 27 1층 일부호(당동)'],
 ['꽃길', '수동', '경기 수원시 권선구 정조로 571 1층(세류동)'],
 ['꽃길', '수동', '경기 수원시 권선구 정조로 571 1층(세류동)'],
 ['행운복권방', '수동', '경기 안성시 서동대로 7184 1층 복권방'],
 ['로또복권합정점', '수동', '경기 평택시 중앙로 176 127호 평택합정 SK뷰 주상복합'],
 ['세븐일레븐화성봉담수기점', '자동', '경기 화성시 세자로 358 '],
 ['포항오거리CU복권', '자동', '경북 포항시 북구 죽도로 33 CU포항오거리점내'],
 ['삼정상회', '자동', '경남 김해시 활천로 23 가동 109호 복권판매점'],
 ['목화휴게소', '자동', '경남 사천시 사천대로 912 '],
 ['신세계', '자동', '제주 제주시 고마로14길 7 ']]

In [26]:
# 1000회부터 1038회

In [27]:
data_list = []
for num in range(1000,1039):
    post_data = {'method' : 'topStore',
        'nowPage' : '1',
        'rankNo' : '',
        'gameNo' : '5133',
        'drwNo' : num,
        'schKey' : 'all',
        'schVal' : ''}

    data_list.append(post_data)

In [28]:
lotto = []
for num in range(1000,1039):
    post_data = {'method' : 'topStore',
                 'nowPage' : '1',
                 'rankNo' : '',
                 'gameNo' : '5133',
                 'drwNo' : num,
                 'schKey' : 'all',
                 'schVal' : ''}
    
    req = requests.post(url, data = post_data)
    html = req.text
    soup = BeautifulSoup(html, 'html.parser')


    name = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(2)')
    gubun = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(3)')
    addr = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(4)')
    
    
    for i in range(len(name)):
        temp = []
        temp.append(num)
        temp.append(name[i].text)
        temp.append(gubun[i].text.strip())
        temp.append(addr[i].text)
        lotto.append(temp)

In [29]:
df = pd.DataFrame(lotto, columns = ['회차', '상호명', '구분', '소재지'])

In [30]:
df

       회차          상호명  구분                                               소재지
0    1000         행운식품  자동                                  서울 관악구 신원로3길 21
1    1000    로또백화점 홍은점  수동                           서울 서대문구 세검정로 99-1 1층 좌측
2    1000  인터넷 복권판매사이트  수동                            동행복권(dhlottery.co.kr)
3    1000         복권나라  수동                            서울 성동구 용답중앙15길 12-1 1층
4    1000      티에스네트웍스  자동  서울 영등포구 신길로28길  9 상가동 B2층 00006호(신길동, 힐스테이트클래시안)
..    ...          ...  ..                                               ...
454  1038   이마트24망상해변점  자동           강원 동해시 동해대로 6270-20 1층 118호, 이마트24망상해변점
455  1038         NG24  수동                                  경북 칠곡군 북중리3길 59
456  1038    천하명당(팔용점)  자동                                경남 창원시 의창구 사화로 26
457  1038          킹로또  수동                               제주 제주시 아란4길 85-5 1층
458  1038        행운복권방  수동                                 제주 제주시 우정로11길 12

[459 rows x 4 columns]

https://dhlottery.co.kr/store.do? # 서버 주소

method=topStore & pageGubun=L645 

인자 이름 = 값 & 인자 이름 = 값 


인자를 url에 넣어 전달 : get 방식

post 방식 : 인자를 프로토콜에 넣어서 전달 ... (보이지 않음!!! get은 보임!!! - 그래서 보려면 개발자도구를 켜야함)

In [32]:
df.shape

(459, 4)

In [33]:
df['회차'].value_counts()

1019    50
1000    22
1028    20
1030    19
1038    15
1037    15
1026    15
1009    15
1003    14
1012    13
1033    13
1020    13
1021    12
1001    12
1005    12
1008    11
1011    11
1016    11
1004    10
1032    10
1014    10
1027    10
1029    10
1036     9
1034     9
1006     9
1023     9
1007     9
1035     8
1031     8
1002     8
1024     8
1010     8
1015     8
1017     7
1013     5
1022     5
1025     4
1018     2
Name: 회차, dtype: int64

In [34]:
df[df['회차'] == 1019]

       회차          상호명   구분                                      소재지
197  1019  미나식품(로또판매점)   수동                       서울 강서구 금낭화로 91-12
198  1019         장수복권   수동                        서울 관악구 난곡로 223 1층
199  1019        Today   수동          서울 광진구 광나루로56길 85 테크노마트9층판매동24호
200  1019        종합가판점   수동  서울 동대문구 왕산로40길 6 건물 앞쪽 가판점 청량리역 5번출구 앞쪽
201  1019  인터넷 복권판매사이트   수동                   동행복권(dhlottery.co.kr)
202  1019  인터넷 복권판매사이트   수동                   동행복권(dhlottery.co.kr)
203  1019  인터넷 복권판매사이트   수동                   동행복권(dhlottery.co.kr)
204  1019  인터넷 복권판매사이트   수동                   동행복권(dhlottery.co.kr)
205  1019  인터넷 복권판매사이트   수동                   동행복권(dhlottery.co.kr)
206  1019  인터넷 복권판매사이트   수동                   동행복권(dhlottery.co.kr)
207  1019         잠실매점   수동            서울 송파구 올림픽로 269 잠실역 8번출구 앞 가판
208  1019         우리마트   수동                           서울 중구 창경궁로 11
209  1019          신간판   수동                            서울 중구 무교로 24
210  1019       빅세일복권방   수동                         부산 부산진구 서면문화로 6
211  1019         청솔서점   수동                        부산 사하구 하신번영로 195
212  1019        플러스로또   수동                  대구 달서구 월곡로45길 56,(상인동)
213  1019         로또명당  반자동                         인천 남동구 호구포로 874
214  1019         대박스타   수동                       인천 미추홀구 경인로 348 1층
215  1019      무판안경시청점   수동                         울산 남구 중앙로 210-1
216  1019     광명24시편의점  반자동                       울산 동구 방어진순환도로 945
217  1019          복권방   자동                           울산 울주군 덕남로 87
218  1019    경은 로또 판매점   수동                          울산 중구 태화로 37 1층
219  1019       다정로또복권   자동                           세종   다정중앙로 52
220  1019      대박복권판매점   수동            경기 김포시 김포한강11로140번길 8-12 102호
221  1019      오남 로또택배   수동               경기 남양주시 진건오남로 814 B동 1층 5호
222  1019         팡팡마트   수동                경기 남양주시 진건오남로522번길 3 102호
223  1019        또와또복권   수동            경기 성남시 수정구 수정로 215 왼쪽2호 (태평동)
224  1019        크로바쉼터   수동              경기 성남시 수정구 대왕판교로 1289 1층 5호
225  1019     따따블 대박로또   수동                경기 시흥시 서울대학로278번길 26 109호
226  1019         머니머니   자동                    경기 시흥시 월곶중앙로14번길 100
227  1019         로또복권   수동                         경기 오산시 성호새싹길 11
228  1019         대박로또   자동                       경기 용인시 기흥구 신갈로 32
229  1019       노다지복권방   자동                      경기 용인시 처인구 금령로 130
230  1019        행운복권방   수동                        경기 포천시 솔모루로 86-1
231  1019        서해로또방   수동                         경기 화성시 화성로 1471
232  1019       드림 복권방   수동                        경기 화성시 효행로 216 1층
233  1019        황금복권방   수동                          강원 인제군 인제로 232
234  1019         사내로또   수동                     강원 화천군 문화마을1길 113 1층
235  1019        행운복권방   수동                충북 청주시 상당구 단재로 119,(영운동)
236  1019        행운복권방   수동                충북 청주시 상당구 단재로 119,(영운동)
237  1019         로또매점   수동                          충남 당진시 송산로 723
238  1019         1등명당   수동                          충남 서천군 장항로 220
239  1019         1등명당   수동                          충남 서천군 장항로 220
240  1019         1등명당   수동                          충남 서천군 장항로 220
241  1019        남원복권방   자동                          전북 남원시 남문로 414
242  1019         대박찬스   수동                           전북 정읍시 관통로 59
243  1019  광양복권나라(로터리)   수동                            전남 광양시 백운로 1
244  1019         복받는날   수동                        경북 포항시 북구 삼흥로 64
245  1019          스마일   수동                     경남 양산시 북안남4길 2 복권판매점
246  1019      범어로또판매점   수동                   경남 양산시 목화로 52 좌측 복권판매점

In [15]:
# 8대 광역시, 시군구

In [54]:
df['a1'] = df['소재지'].str.split(' ', expand = True)[0]

In [55]:
df

,회차,상호명,구분,소재지,a1
0,1000,행운식품,자동,서울 관악구 신원로3길 21,서울
1,1000,로또백화점 홍은점,수동,서울 서대문구 세검정로 99-1 1층 좌측,서울
2,1000,인터넷 복권판매사이트,수동,동행복권(dhlottery.co.kr),동행복권(dhlottery.co.kr)
3,1000,복권나라,수동,서울 성동구 용답중앙15길 12-1 1층,서울
4,1000,티에스네트웍스,자동,"서울 영등포구 신길로28길 9 상가동 B2층 00006호(신길동, 힐스테이트클래시안)",서울
...,...,...,...,...,...
454,1038,이마트24망상해변점,자동,"강원 동해시 동해대로 6270-20 1층 118호, 이마트24망상해변점",강원
455,1038,NG24,수동,경북 칠곡군 북중리3길 59,경북
456,1038,천하명당(팔용점),자동,경남 창원시 의창구 사화로 26,경남
457,1038,킹로또,수동,제주 제주시 아란4길 85-5 1층,제주
458,1038,행운복권방,수동,제주 제주시 우정로11길 12,제주

In [56]:
df['a2'] = df['소재지'].str.split(' ', expand = True)[1]

In [57]:
df

,회차,상호명,구분,소재지,a1,a2
0,1000,행운식품,자동,서울 관악구 신원로3길 21,서울,관악구
1,1000,로또백화점 홍은점,수동,서울 서대문구 세검정로 99-1 1층 좌측,서울,서대문구
2,1000,인터넷 복권판매사이트,수동,동행복권(dhlottery.co.kr),동행복권(dhlottery.co.kr),
3,1000,복권나라,수동,서울 성동구 용답중앙15길 12-1 1층,서울,성동구
4,1000,티에스네트웍스,자동,"서울 영등포구 신길로28길 9 상가동 B2층 00006호(신길동, 힐스테이트클래시안)",서울,영등포구
...,...,...,...,...,...,...
454,1038,이마트24망상해변점,자동,"강원 동해시 동해대로 6270-20 1층 118호, 이마트24망상해변점",강원,동해시
455,1038,NG24,수동,경북 칠곡군 북중리3길 59,경북,칠곡군
456,1038,천하명당(팔용점),자동,경남 창원시 의창구 사화로 26,경남,창원시
457,1038,킹로또,수동,제주 제주시 아란4길 85-5 1층,제주,제주시
458,1038,행운복권방,수동,제주 제주시 우정로11길 12,제주,제주시

In [58]:
df['a1'].value_counts()

경기                       121
서울                        84
인천                        28
충남                        28
경남                        26
부산                        26
동행복권(dhlottery.co.kr)     19
전남                        17
전북                        17
경북                        17
대구                        16
강원                        12
울산                        10
대전                        10
광주                         9
제주                         9
충북                         8
세종                         2
Name: a1, dtype: int64

In [59]:
df['a3'] = df['a1'] + ' ' + df['a2']

In [61]:
df[df['a3'] == '서울 구로구']

       회차        상호명  구분                           소재지  a1   a2      a3
159  1014  서울구가-17가판  자동  서울 구로구 구로동로 130-2 구로4동우체국앞가판  서울  구로구  서울 구로구
189  1017      대박복권방  수동             서울 구로구 개봉로17길 18   서울  구로구  서울 구로구
278  1023      광장하이퍼  자동   서울 구로구 경인로53길 15 중앙유통단지C-05  서울  구로구  서울 구로구
286  1024     로또 光복권  자동            서울 구로구 개봉로23가길 37   서울  구로구  서울 구로구
299  1026  GS25궁동상지점  자동             서울 구로구 부일로15길 29   서울  구로구  서울 구로구
323  1028       복권세계  자동                 서울 구로구 우마길 4   서울  구로구  서울 구로구